@page "/Todo"





<Addons>
    <Addon AddonType="AddonType.Body">
        <TextEdit Placeholder="Todo" @bind-Text = "newTodo" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Secondary" @onclick = "AddTask">Add</Button>
    </Addon>
</Addons>

<ol>

@foreach (var item in listaTodo)
{
    <li>

    <input type="checkbox" @bind="item.feito">

    <input @bind="item.titulo"/>


    </li>
}

</ol>


@code{

    private IList<Afazer2> listaTodo = new List<Afazer2>();

    public string newTodo;

    private void AddTask(){
        listaTodo.Add(new Afazer2 {titulo = newTodo});
        newTodo = string.Empty;
    }


}