@page "/Todo"





<Addons>
    <Addon AddonType="AddonType.Body">
        <TextEdit Placeholder="Todo" @bind-Text = "newTodo" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Secondary" @onclick = "AddTask">Add</Button>
    </Addon>
</Addons>

<Table Striped="true">
    <TableHeader>
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell> 
            <TableHeaderCell>ToDo</TableHeaderCell>   
            <TableHeaderCell>Feito</TableHeaderCell>    
        </TableRow>
    </TableHeader>
    <TableBody>
        
            

            @foreach (var item in listaTodo)
            {
                
                    <TableRow>
                
                    <TableRowCell><input type="checkbox" @bind="item.feito"></TableRowCell>

                    <TableRowCell><input @bind="item.titulo"/></TableRowCell>

                    <TableRowCell>@addFeito(item.feito)</TableRowCell>

                    </TableRow>

                
            }

                   
        
    </TableBody>
</Table>


            




@code{

    private IList<Afazer2> listaTodo = new List<Afazer2>();

    public string newTodo;

    private string addFeito(bool done){

        if(done==true){
            return "Feito";
        }
        return "";
    }

    private void AddTask(){
        listaTodo.Add(new Afazer2 {titulo = newTodo});
        newTodo = string.Empty;
    }


}